<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>User Information</title>
  </head>
  <body>
    <h1><a href="/home">Posts Club</a></h1>
    <h2><%= title ? title : "Logged In!" %></h2>
    <h3><%= user.fullname %></h3>

    <% if (user_posts) { %>
      <% for (let post of user_posts) {%>
        <div class="post">
          <h3><%= post.title %></h3>
          <p class="post-info">
            <i><small><%= post.updatedAtFormatted || post.createdAtFormatted %></small></i>
          </p>
          <p><%= post.content %></p>
        </div>
        <hr />
      <% } %>
    <% } else { %>
      <p>There is no post.</p>
    <% } %> 
    <p><a href="/log-out">Log out</a></p>
  </body>
</html>
